.repl-port
.nrepl-port
.window
hs_err_pid*.log
.cpcache
target
*.diff
/script/repl_local.sh

# Calva specific

.calva/
.lsp/
.portal/

# clj-kondo specific

.clj-kondo/.cache/

# Python script

**/__pycache__/