{:hooks
 {:analyze-call
  {io.github.humbleui.ui/deflazy     hooks.deflazy/deflazy-hook
   io.github.humbleui.util/loopr     hooks.loopr/loopr-hook
   io.github.humbleui.util/condp     hooks.condplus/condplus-hook}}
 :lint-as
 {io.github.humbleui.ui/defcomp      clojure.core/defn
  io.github.humbleui.util/deftype+   clojure.core/deftype
  io.github.humbleui.util/for-map    clojure.core/for
  io.github.humbleui.util/for-vec    clojure.core/for
  io.github.humbleui.util/memo-fn    clojure.core/fn
  io.github.humbleui.util/thread     clojure.core/future
  io.github.humbleui.util/when-some+ clojure.core/when-some}}
